.titulo-cuadros{
    font-size: medium;
    
}

.imagen{
    width: 100%;
    height: 100%;
}


/*estilos de los botones de contador*/
.button{

    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius:  1px black;
    display: inline-block;
    justify-content:space-around;

}

.contador{
    text-align: center;
    
}
