.titulo-cuadros{
    font-size: medium;
    
}

.button{

    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius:  1px black;
    display: inline-block;
    justify-content:space-around;

}

.contador{
    display: flex;
    justify-items: center;
    
}
