.avatar{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 30px;

}

.imagenItem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}